/* hero.component.css */
.hero {
  background-image: url('/assets/GenAI2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;

  a {
    color: #ff4081; /* Replace with your theme's accent color */
  
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
  }
}



// .button-group {
//   display: flex;
//   flex-direction: column;
//   gap: 10px; /* Space between buttons */
//   margin-top: 20px;
// }

// button {
//   width: 200px; /* Optional: make the buttons a fixed width */
//   align-self: center; /* Center-align the buttons in the flex column */
// }



