/* hero.component.css */
.hero {
  background-image: url('/assets/GenAI2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;

  a {
    color: #ff4081; /* Replace with your theme's accent color */
  
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
  }

  button{
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 24px; /* Adjust padding for better spacing */
    text-align: left;
    border-radius: 4px; /* Slightly rounded corners */
  
    /* Add hover effects */
    &:hover {
      background-color: #e3f2fd; /* Light blue hover background */
      color: #1976d2; /* Blue hover text color */
  
      mat-icon {
        color: #1976d2;
    }
    }
  
  }
}

.hero-height-flash {
  height: 50vh;
}

.flash-message {
  margin-bottom: 2px;

  mat-card {
    background-color: white;//#ff9900b4; // Bright background for visibility
    border-left: 20px solid #FF4081;
    color: #333;

    h2 {
      margin-top: 0;
    }

    ul {
      padding-left: 16px;
      list-style-type: none;

      li {
        margin-bottom: 5px;
      }
    }

    a {
      color: #1976d2; // Link color for visibility
    }
  }
}



