<div class="page-container">
  <!-- Section for Students -->
  <div class="page-container-header">
    <div class="page-container-header-text">
      Courses for Students (Middle & High School)
    </div>
  </div>
  <div class="page-container-body">
    <mat-accordion class="course-list">
      <mat-expansion-panel *ngFor="let course of studentCourses">
        <mat-expansion-panel-header>
          <div class="course-header">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description }}</p>
            <span class="course-duration">Duration: {{ course.duration }}</span>
          </div>
        </mat-expansion-panel-header>
        <div class="course-details">
          <p><strong>Duration:</strong> {{ course.duration }}</p>
          <p><strong>Content:</strong> {{ course.content }}</p>
          <p><strong>Lab Time:</strong> {{ course.labTime }}</p>
          <p><strong>Outcome:</strong> {{ course.outcome }}</p>
          <ng-container
            *ngIf="
              course.is_registration_open;
              then show_registeration;
              else show_express_interest
            "
          >
          </ng-container>
          <ng-template #show_registeration>
            <button
              mat-raised-button
              color="primary"
              (click)="register(course.course_code)"
            >
              Register
            </button>
          </ng-template>
          <ng-template #show_express_interest>
            <p>
              <b>Ready to Explore?</b>
              Registration is not yet open, but you can
              <a
                [routerLink]="['/form']"
                [queryParams]="{ code: 'COURSE_INTEREST' }"
                >Express Interest</a
              >
              today to stay informed about course updates.
            </p>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Section for Working Professionals -->
  <div class="page-container-header">
    <div class="page-container-header-text">
      Courses for Working Professionals
    </div>
  </div>
  <div class="page-container-body">
    <div class="announcement">
      <mat-icon class="announcement-icon" color="primary">info</mat-icon>
      <span class="announcement-text">{{ professionalCoursesMessage }}</span>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="expressInterest()"
      aria-label="Express interest in working professional courses"
    >
      Express Interest
    </button>
  </div>
</div>
