<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
  <mat-toolbar-row> <span class="header">Think AI Today</span></mat-toolbar-row>

  <mat-toolbar-row>
    <nav>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/our-courses">Courses</a>
      <!-- <a mat-button routerLink="/registration">Registration</a> -->

      <a mat-button routerLink="/about-us">About Us</a>

      <a mat-button routerLink="/trivia">Trivia </a>

      <a mat-button routerLink="/news" class="updates-link">
        <mat-icon >campaign</mat-icon> Updates
      </a>
      <!-- <a mat-button routerLink="/lab-station">Lab Station</a> -->
      <!-- <a mat-button routerLink="/contact-us">Contact Us</a> -->
      <mat-menu #participantCornerMenu="matMenu">
        <button mat-menu-item [routerLink]="'/participant-corner/lab'">Lab</button>
        <!-- <button mat-menu-item [routerLink]="'/participant-corner/quiz-poll'">Quiz & Poll Zone</button> -->
        <button mat-menu-item (click)="openQuizPollZone()">Quiz & Poll Zone</button>
      </mat-menu>
      <!-- <a mat-button [matMenuTriggerFor]="participantCornerMenu">Participant Corner</a> -->

    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
