<div class="form-container" [ngSwitch]="code">
  <iframe
    *ngSwitchCase="'COURSE_INTEREST'"
    src="https://forms.gle/9RB4G21LspQBvyex5"
    width="100%"
    height="800"
  >
    Loading…
  </iframe>
  <iframe
    *ngSwitchCase="'STUDENT_BEGINNER'"
    src="https://forms.gle/QmBH1r3qyKhh3jQbA"
    width="100%"
    height="800"
  >
    Loading…
  </iframe>
  <iframe
  *ngSwitchCase="'CONTACT_US'"
  src="https://forms.gle/AyFpXmNro9gp1ZCx7"
  width="100%"
  height="800"
>
  Loading…
</iframe>
</div>
