/* src/styles.scss */
@import "@angular/material/prebuilt-themes/indigo-pink.css"; // Example of a pre-built theme

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.page-container {
    margin-bottom: 20px; 
    padding: 1px; 
    border-radius: 5px; /* Rounded corners */

    font-size: larger;

    .page-container-header {
      margin-bottom: 20px; 
      background-color: #f9f9f9; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      .page-container-header-text {
        font-size: 1.5em;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 5px;
      }
  }
  .page-container-body {
    padding-left: 20px; 
    padding-right: 20px; 
}
}

